/* .form-field {
	min-height: 48px;
} */

.form-field::placeholder {
	color: #94a3b8;
}

textarea.form-field {
	min-height: 112px;
	resize: vertical;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	appearance: textfield;
	-moz-appearance: textfield;
}

